.container {
    display: flex;
    align-items: center;
    align-content: center;
    
}
.image{
    width: 500px;
    margin: 50px;
    border-width: 1px;
    border-color: grey;
    border-right: dotted 8px;
    padding: 40px;
}
.input1{
    width: 600px;
    height: 75px;
    font-size: 24px;
    
}
.input2{
    width: 125px;
    height: 50px;
    font-size: 24px;
    background-color: greenyellow;
}
.input3{
    width: 125px;
    height: 50px;
    font-size: 24px;
    background-color: red;
}